<!doctype html>
<html lang="en">

<head>
  <title>Moon Decor</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="giaodien.css" />
</head>

<body>
  <div>
    <img src="../item/image/background.jpg" id="background" class="img-fluid img-reponsive" alt="Background">
    <div class="btn-group btn-search visible-lg" style="width: 50%">
      <input type="text" class="form-control" name="inputSearch" aria-describedby="helpId"
        placeholder="Enter your e-mail address">
      <button class="btn search">SEARCH</button>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <p>BẠN CÓ CĂN HỘ CẦN ĐƯỢC TƯ VẤN GIẢI PHÁP THIẾT KẾ NỘI THẨT</p>
      </div>
      <div class="col btn-group">
        <img src="../item/Icon/08.thietkenoithat.png" class="editIcon" />
        <p class="editText">Thiết kế nội thất</p>
      </div>
      <div class="col btn-group">
        <img src="../item/Icon/09.thicong.png" class="editIcon" />
        <p class="editText">Thi công nội thất</p>
      </div>
      <div class="col btn-group">
        <img src="../item/Icon/10.caitao.png" class="editIcon" />
        <p class="editText">Cải tạo xây dựng</p>
      </div>
    </div>
    <div class="row mt-4 col-12">
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12">
            <img class="card-img-top" src="../item/image/0.Biệt thự phố Q.2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
              <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
            </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage  mt-2">
          <div class="col-12">
              <img class="card-img-top" src="../item/image/1.Central Premium.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">CENTRAL PREMIUM - SẮC VÀNG ẤN TƯỢNG</h5>
                <p class="card-text">Tông màu vàng luôn đem lại cho người nhìn cảm nhận về niềm vui,..</p>
              </div>
          </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage  mt-2">
          <div class="col-12">
              <img class="card-img-top" src="../item/image/2.Topaz Home.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">TOPAZ HOME - CĂN HỘ KẾT HỢP HIÊN ĐẠI CỦA CÁC MẢNG XANH</h5>
                <p class="card-text">Nội thất được coi là tâm hồn của mỗi ngôi nhà, tạo điểm nhấn riêng..</p>
              </div>
          </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage  mt-2">
          <div class="col-12">
              <img class="card-img-top" src="../item/image/3.Nhà Phố Mina.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">NHÀ PHỐ MINA - TÌNH YÊU GỬI GẮM TRONG KHÔNG GIAN SCANDINAVIAN</h5>
                <p class="card-text">Một căn hộ đầy ấm áp, niềm vui và hạnh phúc là những điều mà bạn ..</p>
              </div>
          </div>
      </div>
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>