<!doctype html>
<html lang="en">

<head>
  <title>Moon Decor</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="giaodien.css" />
  <!-- <link rel="canonical" href="http://www.thepetedesign.com/demos/immersive_slider_demo.html" /> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="jquery.immersive-slider.js"></script>
  <link href='immersive-slider.css' rel='stylesheet' type='text/css'>

<body>
  <div class="purple-square-container">
    <img src="../item/image/background.jpg" id="background" class="img-fluid img-reponsive" alt="Background">
    <div class="btn-group btn-search" style="width: 50%">
      <input type="text" class="form-control" name="inputSearch" aria-describedby="helpId"
        placeholder="Enter your e-mail address">
      <button class="btn search">SEARCH</button>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <h5>BẠN CÓ CĂN HỘ CẦN ĐƯỢC TƯ VẤN GIẢI PHÁP THIẾT KẾ NỘI THẨT</h5>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 btn-group">
        <img src="../item/Icon/08.thietkenoithat.png" class="editIcon" />
        <h5 class="editText">Thiết kế nội thất</h5>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 btn-group">
        <img src="../item/Icon/09.thicong.png" class="editIcon" />
        <h5 class="editText">Thi công nội thất</h5>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 btn-group">
        <img src="../item/Icon/10.caitao.png" class="editIcon" />
        <h5 class="editText">Cải tạo xây dựng</h5>
      </div>
    </div>
    <div class="row mt-4 col-12">
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/0.Biệt thự phố Q.2.jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage  mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/1.Central Premium.png" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">CENTRAL PREMIUM - SẮC VÀNG ẤN TƯỢNG</h5>
            <p class="card-text">Tông màu vàng luôn đem lại cho người nhìn cảm nhận về niềm vui,..</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage  mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/2.Topaz Home.jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">TOPAZ HOME - CĂN HỘ KẾT HỢP HIÊN ĐẠI CỦA CÁC MẢNG XANH</h5>
            <p class="card-text">Nội thất được coi là tâm hồn của mỗi ngôi nhà, tạo điểm nhấn riêng..</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage  mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/3.Nhà Phố Mina.jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">NHÀ PHỐ MINA - TÌNH YÊU GỬI GẮM TRONG KHÔNG GIAN SCANDINAVIAN</h5>
            <p class="card-text">Một căn hộ đầy ấm áp, niềm vui và hạnh phúc là những điều mà bạn ..</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/4.Jamila.jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/5.Charm Plaza.jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/6.CHARM CITY (1PN + PLV).jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/7. Chram CITY ( 2PN).jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/8.Charm city (1PN+PN).png" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/9.Charm City (2PN+1PLV).jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/10.NhaphoChiĐaioan.png" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
      <div class="card col-lg-3 col-sm-4 col-xs-2 editImage mt-2">
        <div class="col-12 img">
          <img class="card-img-top" src="../item/image/11. Nhà phố Đại Đoàn (2).jpg" alt="Card image cap">
          <div class="card-body txt">
            <h5 class="card-title text-center">BIỆT THỰ HIỆN ĐẠI NGẬP TRÀN ÁNH SÁNG</h5>
            <p class="card-text">Với quan niệm niềm vui luôn đi kèm với hạnh phúc...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 text-center">
      <h3 class="editTitle">MOON DECOR</h3>
      <p>Kiến tạo không gian hoàn hảo</p>
      <div class="d-flex justify-content-center detailText">
        <div class="col-6 d-flex justify-content-around">
          <div class="text-center">
            <h1>2+</h1>
            <p>Kinh nghiệm</p>
          </div>
          <div class="text-center">
            <h1>20+</h1>
            <p>Đối tác</p>
          </div>
          <div class="text-center">
            <h1>125</h1>
            <p>Kiến trúc sư</p>
          </div class="text-center">
          <div>
            <h1>350</h1>
            <p>Dự án</p>
          </div>
          <div class="text-center">
            <h1>630</h1>
            <p>Khách hàng hài lòng</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4 detailTextTop">
        <div class="col-6">
          <p>Top 10 công ty thành công trong lĩnh vực thiết kế cùng đội ngũ kiến trúc sư trẻ đầy sáng tạo và nhiệt huyết
            sẽ đem đến những không gian tuyệt vời cho ngôi nhà của bạn </p>
        </div>
      </div>
      <div class="d-flex  flex-row-reverse mt-4">
        <div class="col-8">
          <button class="btn btn-info">Xem thêm</button>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4 detailText">
        <h3>CÁC BÀI VIẾT HAY NHẤT</h3>
      </div>
    </div>
  </div>
  <div class="bd-example mt-4">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active article">
          <img src="../item/image/11. Nhà phố Đại Đoàn (2).jpg" class="d-block w-100 thumb" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item article">
          <img src="../item/image/12.Silver Beach.jpg" class="d-block w-100 thumb" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item article">
          <img src="../item/image/13.Căn hộ Thịnh Gia (1).jpg" class="d-block w-100 thumb" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>