/* reponsive cho image */
#background {
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  }
  /* reponsive cho input search */
  .btn-search{
    position: absolute;
    z-index: 4;
  }
  .search{
    background-color: #CC9933;
  }
  .purple-square-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* reponsive thi công, cải tạo,... */
  .editIcon{
    width: 40px;
    height: 40px;
  }

 .editText{
    padding-top: 3%;
  }
  /* show ảnh */

  .editImage{
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none !important;
  }

  .card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
